body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

form {
    border: 1px solid #7cff51;
    background-color: rgb(250, 227, 167);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto; 
    margin-top: 10vh; 
    border-radius: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ffab0f; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 70%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    font-size: 14px; 
    font-style: italic; 
}
